.section {width: 1140px;margin: 0 auto;}
.live_upload_book_box { margin-top: 60px; }
.live_upload_book_box_top {display: flex; justify-content: space-between; align-items: flex-end; border-bottom: 1px solid black;}
.live_upload_book_box_top .title {padding-bottom: 15px; font-size: 30px; cursor: pointer;}
.live_upload_book_box_top .more {color: gray; padding-bottom: 10px;}
.live_upload_book_box_top .more:hover {color: black; text-decoration: underline; cursor: pointer;}
.book_slider .slider {
    width: 990px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.layer {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 15px 20px;
    align-items: flex-end;
    justify-content: space-between;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s linear;
    position: absolute;
    width: 150px;
    height: 170px;
    background: url(http://image.kyobobook.co.kr/ink/images/common/bg_blue90.png);
}
.layer-info { margin: 5px; font-size: 14px; overflow: hidden; text-overflow: ellipsis; color: white;}
.book-item:hover .layer { visibility: visible; opacity: 1;}
.layer-buttons{margin: 0 auto; padding-top: 5px;}
.layer-buttons a{
    border: 1px solid white;
    color: white;
    width: 45px;
    height: 33px;
    display: inline-block;
    text-align: center;
    line-height: 2;
    transition: background-color 0.2s linear;
}
.layer-buttons a:hover {background-color: rgba(0,0,0,0.2);}
.book-item { position: relative; cursor: pointer; transition: border-color 0.3s linear; padding: 20px 30px 10px; border: 1px solid rgb(205, 205, 205);}
.book-item:hover {border-color: #5e6b9e;}
.book-item img { border: 1px solid #dadada;}
.book_item_info{ text-align: center; }
.book__title {font-size: 15px; font-weight: bold; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.book__price {color: gray; text-decoration: line-through; text-decoration-color: red; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.book__discount {color: #f84450;; font-weight: bold; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.book_slider .prev, .book_slider .next {
    width: 50px;
    font-size: 2rem;
    text-align: center;
    position: absolute;
    color: darkgray;
    top: 40%;
}
.book_slider .prev {left: 10px;}
.book_slider .next {right: 10px;}
.upload_box {display: flex;justify-content: space-between;margin-top: 50px;margin-bottom: 100px;}
.notice {width: 550px;height: 100%;}
.notice .title {font-size: 20px; color: black; font-weight: bold;}
.notice .more {color: gray;}
.notice .more:hover {color: black; text-decoration: underline;}
.notice li {padding: 5px; border-bottom: 1px solid rgba(0, 0, 0, 0.499); display: flex; justify-content: space-between; }
.notice li:nth-child(n+2):hover {text-decoration: underline; cursor: pointer;}
.notice__subject {color: black;}
.notice__date {color: black;}
.book_slider { width: 1140px; height: 300px; position: relative;}
/* SECTION */



  
.banner {width: 100%; overflow: hidden;}